<p-menubar
    [style]="{'background-color': 'black', 'height': '60px', 'border': 'black', 'border-radius': '0', 'position':'sticky', 'top': '0', 'z-index': '999'}">
    <ng-template pTemplate="start">
        <i class="fa fa-bars icons" (click)="display = true" aria-hidden="true"></i>
        <span class="title">Smart Documentation App</span>
    </ng-template>
    <ng-template pTemplate="end">
        <span class="title">{{ time | date: 'dd MMM, yyyy' }} {{ time | date: 'hh:mm:ss a' }}</span>
        <i class="fa fa-sign-out icons" (click)="logout()" aria-hidden="true"></i>
    </ng-template>
</p-menubar>
<div class="w3-sidebar w3-bar-block w3-black w3-xxlarge" style="width:70px">
    <a (click)="navigate('upload')" class="w3-bar-item w3-button"><i class="fa fa-upload"></i></a>
    <a (click)="navigate('search')" class="w3-bar-item w3-button"><i class="fa fa-search"></i></a>
    <a (click)="navigate('approve')" class="w3-bar-item w3-button"><i class="fa fa-thumbs-o-up"></i></a>
    <a (click)="navigate('history')" class="w3-bar-item w3-button"><i class="fa fa-history"></i></a>
    <a (click)="navigate('rejected')" class="w3-bar-item w3-button"><i class="fa fa-trash"></i></a>
</div>