<app-navbar></app-navbar>
<div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-8 mt-4">
            <div class="search"> <i class="fa fa-search"></i> <input type="text" class="form-control"
                    placeholder="Search For Documents"> <button class="btn btn-primary">Search</button> </div>
        </div>
        <div class="card">
            <span class="head">Search Results</span>
            <p-table #dt1 [value]="searchImages" dataKey="id" styleClass="p-datatable-customers"
                responsiveLayout="scroll" [rows]="10" [paginator]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">Id<p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="created_by">Created By <p-sortIcon field="created_by"></p-sortIcon></th>
                        <th pSortableColumn="approved_by">Approved By <p-sortIcon
                                field="approved_by"></p-sortIcon>
                        </th>
                        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                        <th>Document</th>
                        <th>Images</th>
                    </tr>
                    <!-- <tr>
                        <th>
                            <input pInputText type="text" (input)="dt1.filter($event.target.value, 'id', 'contains')"
                                [value]="dt1.filters['id']?.value" placeholder="Search by ID"
                                class="p-column-filter">
                        </th>
                        <th>
                            <input pInputText type="text"
                                (input)="dt1.filter($event.target.value, 'created_by', 'contains')"
                                [value]="dt1.filters['created_by']?.value" placeholder="Search by Name"
                                class="p-column-filter">
                        </th>
                        <th>
                            <input pInputText type="text"
                                (input)="dt1.filter($event.target.value, 'approved_by', 'contains')"
                                [value]="dt1.filters['approved_by']?.value"
                                placeholder="Search by Name" class="p-column-filter">
                        </th>
                        <th>
                            <input pInputText type="text"
                                (input)="dt1.filter($event.target.value, 'status', 'contains')"
                                [value]="dt1.filters['status']?.value" placeholder="Search by Status"
                                class="p-column-filter">
                        </th>
                        <th></th>
                        <th></th>
                    </tr> -->
                </ng-template>
                <ng-template pTemplate="body" let-docs>
                    <tr>
                        <td>
                            {{docs.id}}
                        </td>
                        <td>
                            {{docs.created_by}}
                        </td>
                        <td>
                            {{docs.approved_by}}
                        </td>
                        <td>
                            {{docs.status}}
                        </td>
                        <td>
                            {{docs.converted_document}}
                        </td>
                        <td>
                            <button pButton type="button" label="View" ></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">No Documents found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>